footer {
    background-color: #353535;
    padding: 35px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    .logo_footer {
        margin: 0;
        margin-bottom: 25px;
        font-size: 1.2em;
    }
    p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1em;
    }
    .links_footer {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        .fa-hands-helping {
            color: white;
            margin-right: 10px;
            align-self: center;
            position: relative;
            bottom: 3px;
        }
        .fa-utensils {
            color: white;
            margin-right: 15px;
            align-self: center;
            position: relative;
            bottom: 5px;
        }
    }
}

.fa-map-marker-alt {
    align-self: center;
}

.fa-hands-helping {
    padding-top: 5px;
}