footer {
    background-color: #353535;
    padding: 30px;
    .logo_footer {
        margin: 0;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        margin-bottom: 10px;
    }
    .links_footer {
        display: flex;
        justify-content: flex-start;
        .fa-hands-helping {
            color: white;
            margin-right: 10px;
        }
        .fa-utensils {
            color: white;
            margin-right: 13px;
        }
    }
}