footer {
    background-color: #353535;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .logo_footer {
        margin: 0;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        margin-bottom: 10px;
    }
    .links_footer {
        display: flex;
        justify-content: flex-start;
        .fa-hands-helping {
            color: white;
            margin-right: 10px;
        }
        .fa-utensils {
            color: white;
            margin-right: 15px;
        }
    }
}

.fa-map-marker-alt {
    align-self: center;
}

.fa-hands-helping {
    padding-top: 5px;
}