body {
  margin: 0;
}

.explorer {
  text-align: center;
  background-color: #f0f0f0;
}
.explorer h2, .explorer p {
  text-align: center;
}
.explorer h2 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
}
.explorer p {
  margin-left: 5%;
  margin-right: 5%;
}

.fonctionnement {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}

.fa-map-marker-alt {
  align-self: center;
}

@font-face {
  font-family: "Shrikhand";
  src: url(../../public/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../../public/fonts/Roboto-Bold.ttf);
}
h1, h4 {
  font-family: "Shrikhand", sans-serif;
}

h4 {
  color: white;
}

h3, p {
  font-family: "Roboto";
}

h2 {
  font-family: "Roboto-Bold";
  font-size: 2em;
  font-weight: 1000;
}

.localisation__ville {
  font-size: 1.5em;
  font-weight: bold;
}

.explorer p {
  font-size: 1.7em;
}

.explorer__button {
  border-radius: 50px;
  padding: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.6em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(175deg, #FF79DA 0%, #9356DC 70%);
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  border: none;
}

.fonctionnement__bubble {
  border: hidden;
  background-color: #f0f0f0;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  padding: 35px;
  padding-top: 45px;
  padding-bottom: 45px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.7em;
  font-family: "Roboto-Bold";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}
.fonctionnement__bubble--purple {
  background-color: #eee0ff;
}
.fonctionnement__bubble .fa-mobile-alt {
  margin-left: 40px;
  margin-right: 65px;
}
.fonctionnement__bubble .fa-list-ul {
  margin-left: 35px;
  margin-right: 60px;
}
.fonctionnement__bubble .fa-store {
  margin-left: 30px;
  margin-right: 60px;
  color: #9356DC;
}
.fonctionnement__bubble .icon-one {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  height: 80px;
  top: 0;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Retour {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 1001;
  height: 80px;
  top: 0;
  align-items: center;
  padding-left: 20px;
}
#Retour a {
  text-decoration: none;
  color: black;
}

.localisation {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e9e9e9;
  margin-top: 80px;
}
.localisation__ville {
  margin: 20px;
}

footer {
  background-color: #353535;
}

/* {
    border: 2px solid black;
    border-radius: 6px;
  }*/

/*# sourceMappingURL=style.css.map */
