#retour {
    position: absolute;
    left: 5%; top: 3%;
    height: 70px;
    width: 70px;
}

.explorer {
    &__button {
        border-radius: 50px;
        padding: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.6em;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-image: linear-gradient(175deg, $colour-secondary 0%, $colour-primary 70%);
        color: white;
        font-family: 'Roboto';
        font-weight: 700;
        border: none;
    }
}

.fonctionnement {
    &__bubble {
        border: hidden;
        background-color: $bg-colour-fonctionnement-bubble-1;
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 5%;
        padding: 35px;
        padding-top: 45px;
        padding-bottom: 45px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-size: 1.7em;
        font-family: 'Roboto-Bold';
        &--purple {
            background-color: #f5edff;
        }
    }
}