.explorer {
    &__button {
        border-radius: 50px;
        padding: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.6em;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-image: linear-gradient(175deg, $colour-secondary 0%, $colour-primary 70%);
        color: white;
        font-family: 'Roboto';
        font-weight: 700;
        border: none;
        margin-bottom: 80px;
        width: 350px;
        align-self: center;
    }
}

.fonctionnement {
    &__bubble {
        border: hidden;
        background-color: $bg-colour-fonctionnement-bubble-1;
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 30px;
        padding: 35px;
        padding-top: 35px;
        padding-bottom: 35px;
        box-shadow: 0 4px 8px 0 rgba(39,39,39,0.2), 0 3px 10px 0 rgba(39,39,39,0.19);
        font-size: 1.7em;
        font-family: 'Roboto-Bold';
        display: flex;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;
        &--purple {
            background-color: #eee0ff;
        }
        .fa-mobile-alt {
            margin-left: -30px;
            margin-right: 60px;
            color: gray;
        }
        .fa-list-ul {
            margin-left: -35px;
            margin-right: 50px;
            color: gray;
        }
        .fa-store {
            margin-left: -40px;
            margin-right: 45px;
            color: $colour-primary;
        }
        .circle {
            position: relative;
            right: 65px;
            display: flex;
            .fa-circle {
                color: $colour-primary;
            }
            .number {
                position: absolute;
                z-index: 2;
                left: 20px;
                align-self: center;
                color: white;
                margin: 0;
            }
        }
    }
}

.restaurants {
    &__module {
        margin-bottom: 20px;
        border: hidden;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2), 0 3px 10px 0 rgba(39,39,39,0.19);
        pointer-events: none;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .new {
            color:#135f4c;
            font-weight: bold;
            background-color: $colour-tertiary;
            padding: 5px 10px 5px 10px;
            border-radius: 2px;
            position: relative;
            left: 350px;
            bottom: 180px;
        }
        &--palette {
            background-image: url(../images/la_palette_du_gout.jpg);
            background-size: 104%;
            background-position: 50% -80px;
        }
        &--note {
            background-image: url(../images/la_note_enchantee.jpg);
            background-size: 100%;
            background-position: 50% -202px;
        }
        &--francaise {
            background-image: url(../images/a_la_francaise.jpg);
            background-size: 104%;
            background-position: 50% -75px;
        }
        &--delice {
            background-image: url(../images/le_delice_des_sens.jpg);
            background-size: 100%;
            background-position: 50% -75px;
        }
        &--palette, &--note, &--francaise, &--delice {
            height: 310px;
            width: 440px;
        }
        &__bandeau {
            background-color: rgb(255, 255, 255);
            height: 90px;
            width: 100%;
            border-radius: 0 0 20px 20px;
            display: flex;
            justify-content: flex-start;
            &__nom-loc {
                h3 {
                    margin: 0;
                    font-size: 1.7em;
                    font-weight: bold;
                    position: absolute;
                    left: 40px;
                    margin-top: 15px;
                }
                p {
                    font-size: 1.7em;
                    margin: 0;
                    position: absolute;
                    left: 40px;
                    margin-top: 45px;
                }
            }
            &__fav {
                position: relative;
                left: 375px;
                align-self: center;
                .fa-heart {
                    -webkit-text-stroke: 1px #000;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}