.explorer {
    &__button {
        border-radius: 50px;
        padding: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.6em;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-image: linear-gradient(175deg, $colour-secondary 0%, $colour-primary 70%);
        color: white;
        font-family: 'Roboto';
        font-weight: 700;
        border: none;
    }
}

.fonctionnement {
    &__bubble {
        border: hidden;
        background-color: $bg-colour-fonctionnement-bubble-1;
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 30px;
        padding: 35px;
        padding-top: 45px;
        padding-bottom: 45px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-size: 1.7em;
        font-family: 'Roboto-Bold';
        display: flex;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;
        &--purple {
            background-color: #eee0ff;
        }
        .fa-mobile-alt {
            margin-left: 40px;
            margin-right: 65px;
        }
        .fa-list-ul {
            margin-left: 35px;
            margin-right: 60px;
        }
        .fa-store {
            margin-left: 30px;
            margin-right: 60px;
            color: $colour-primary;
        }
        .icon-one {
            width: 50px;
            height: 50px;
           position: absolute;
           left: 20px;
           background-color: white;
        }
    }
}