button:focus {outline:0;}

.explorer {
    form {
        align-self: center;
    }
    &__button {
        border-radius: 60px;
        padding: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;
        box-shadow: 0 8px 16px 0 rgba(170, 170, 170, 0.5), 0 6px 20px 0 rgba(180, 180, 180, 0.5);
        background-image: linear-gradient(175deg, #FF79DA 0%, #9356DC 70%);
        color: white;
        font-family: "Roboto";
        font-weight: 700;
        border: none;
        margin-top: 10px;
        margin-bottom: 60px;
        width: 235px;
        height: 61px;
        align-self: center;
        cursor: pointer;
        &:hover {
            box-shadow: 0 8px 16px 0 darken(nth($black-shadow-colours, 1), 20%), 0 6px 20px 0 darken(nth($black-shadow-colours, 2), 20%);
            animation-name: lighten-button;
            animation-duration: 0ms;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
        }
    }
}

@keyframes animate-gradient {
    0% {
        background-image: linear-gradient(175deg, $colour-secondary 0%, $colour-primary 70%);
    }
    10% {
        background-image: linear-gradient(220deg, $colour-secondary 0%, $colour-primary 70%);
    }
    20% {
        background-image: linear-gradient(265deg, $colour-secondary 0%, $colour-primary 70%);
    }
    30% {
        background-image: linear-gradient(310deg, $colour-secondary 0%, $colour-primary 70%);
    }
    40% {
        background-image: linear-gradient(355deg, $colour-secondary 0%, $colour-primary 70%);
    }
    50% {
        background-image: linear-gradient(400deg, $colour-secondary 0%, $colour-primary 70%);
    }
    60% {
        background-image: linear-gradient(445deg, $colour-secondary 0%, $colour-primary 70%);
    }
    70% {
        background-image: linear-gradient(490deg, $colour-secondary 0%, $colour-primary 70%);
    }
    80% {
        background-image: linear-gradient(535deg, $colour-secondary 0%, $colour-primary 70%);
    }
    90% {
        background-image: linear-gradient(580deg, $colour-secondary 0%, $colour-primary 70%);
    }
    100% {
        background-image: linear-gradient(625deg, $colour-secondary 0%, $colour-primary 70%);
    }
}

@keyframes lighten-button {
    0% {
        background-image: linear-gradient(175deg, $colour-secondary 0%, $colour-primary 70%);
    }
    100% {
        background-image: linear-gradient(175deg, lighten($colour-secondary, 10%) 0%, lighten($colour-primary, 10%) 70%);
    }
}

.fonctionnement {
    &__bubble {
        border: hidden;
        background-color: #f0f0f0;
        height: 70px;
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(210, 210, 210, 0.5), 0 3px 10px 0 rgba(220, 220, 220, 0.5);
        font-size: 1em;
        font-family: "Roboto-Bold";
        display: flex;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;
        &--purple {
            background-color: #eee0ff;
        }
        &__content {
            display: flex;
            justify-content: center;
            align-content: center;
            i {
                justify-self: flex-start;
                align-self: center;
            }
        }
        .fa-mobile-alt {
            margin-left: -15px;
            margin-right: 25px;
            color: gray;
        }
        .fa-list-ul {
            margin-left: -15px;
            margin-right: 25px;
            color: gray;
        }
        .fa-store {
            margin-left: -15px;
            margin-right: 25px;
            color: $colour-primary;
        }
        .circle {
            position: relative;
            right: 35px;
            display: flex;
            .fa-circle {
                color: $colour-primary;
            }
            .number {
                position: absolute;
                z-index: 2;
                left: 12px;
                align-self: center;
                text-align: center;
                color: white;
                margin: 0;
            }
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    &__liste {
        display: flex;
        flex-wrap: wrap;
        &__module {
            margin-bottom: 20px;
            border: hidden;
            padding: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-self: center;
            background: none;
            width: 100%;
            height: 230px;
            cursor: pointer;
            z-index: 3;
            &:hover &__bandeau {
                box-shadow: 0 4px 8px 0 darken(nth($dark-shadow-colours, 1), 15%), 0 3px 10px 0 darken(nth($dark-shadow-colours, 2), 15%);
            }
            .new {
                @include colour-variation;
                font-weight: bold;
                background-color: $colour-tertiary;
                padding: 7px 15px 7px 15px;
                border-radius: 2px;
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 1em;
            }
            &__background {
                height: 800px;
                width: 100%;
                border-radius: 20px 20px 0 0;
                background-repeat: no-repeat;
                background-size: cover;
                &--palette {
                    background-image: url(../images/la_palette_du_gout.jpg);

                    background-position: 50% -28px;
                }
                &--note {
                    background-image: url(../images/la_note_enchantee.jpg);

                    /*background-position: 50% -202px;*/
                }
                &--francaise {
                    background-image: url(../images/a_la_francaise.jpg);

                    /*background-position: 50% -75px;*/
                }
                &--delice {
                    background-image: url(../images/le_delice_des_sens.jpg);

                    /*background-position: 50% -75px;*/
                }
            }

            &__bandeau {
                background-color: rgb(255, 255, 255);
                height: 350px;
                width: 100%;
                border-radius: 0 0 20px 20px;
                display: flex;
                align-items: center;
                padding: 0;
                box-sizing: border-box;
                box-shadow: 0 4px 8px 0 nth($dark-shadow-colours, 1), 0 3px 10px 0 nth($dark-shadow-colours, 2);
                &__nom-loc {
                    flex: 1;
                    margin-left: 15px;
                    margin-bottom: 5px;
                    .nom {
                        display: block;
                        margin: 0;
                        font-size: 1.3em;
                        font-weight: bold;
                        text-align: left;
                    }
                    .lieu {
                        display: block;
                        font-size: 1.3em;
                        margin: 0;
                        text-align: left;
                        margin-top: 5px;
                    }
                }
                &__fav {
                    display: flex;
                    margin-right: 50px;
                    .fa-heart {
                        position: absolute;
                        align-self: center;
                        cursor: pointer;
                        &__empty {
                            -webkit-text-stroke: 2px #000;
                            -webkit-text-fill-color: transparent;
                            z-index: 5;
                        }
                        &__filler {
                            transform: scale(0);
                            transition: transform 500ms ease-in-out;
                            background: -moz-linear-gradient(bottom, $colour-secondary 0%, $colour-primary 90%); 
                            background: -webkit-linear-gradient(bottom,$colour-secondary 0%, $colour-primary 90%); 
                            background: linear-gradient(to top,$colour-secondary 0%, $colour-primary 90%);
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            background-clip: text;
                           -webkit-text-fill-color:transparent;
                           z-index: 4;
                        }
                        &:hover + .fa-heart__filler {
                            transform: scale(1);
                            /*animation-name: heart-fill;
                            animation-duration: 500ms;
                            animation-fill-mode: both;*/
                        }
                    }
                }
            }
        }
    }
}

@keyframes heart-fill {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.commande {
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    margin: 0;
    &__button {
        border-radius: 60px;
        padding: 15px;
        font-size: 1.1em;
        box-shadow: 0 8px 16px 0 rgba(170, 170, 170, 0.5), 0 6px 20px 0 rgba(180, 180, 180, 0.5);
        background-image: linear-gradient(175deg, #FF79DA 0%, #9356DC 70%);
        color: white;
        font-family: "Roboto";
        font-weight: 700;
        border: none;
        margin-bottom: 80px;
        margin-top: 40px;
        width: 225px;
        height: 60px;
        align-self: center;
        cursor: pointer;
        &:hover {
            box-shadow: 0 8px 16px 0 darken(nth($black-shadow-colours, 1), 20%), 0 6px 20px 0 darken(nth($black-shadow-colours, 2), 20%);
            animation-name: lighten-button;
            animation-duration: 0ms;
            animation-fill-mode: both;
        }
    }
}