body {
    margin: 0;
}

.explorer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f0f0;
    h2, p {
        text-align: center;
    }
    h2 {
        margin-left: $margin-h2-explorer;
        margin-right: $margin-h2-explorer;
        margin-top: 50px;
    }
    p {
        margin-left: $margin-p-explorer;
        margin-right: $margin-p-explorer;
    }
}

.fonctionnement {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 200px;
}

.fa-map-marker-alt {
    align-self: center;
}

.restaurants {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f0f0f0;
    margin: 0;
    h2 {
        margin-left: 20px;
    }
}

img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}
