body {
    margin: 0;
}

.explorer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f0f0;
    h2, p {
        text-align: center;
    }
    h2 {
        margin-left: $margin-h2-explorer;
        margin-right: $margin-h2-explorer;
        margin-top: 50px;
    }
    p {
        margin-left: $margin-p-explorer;
        margin-right: $margin-p-explorer;
    }
}

.fonctionnement {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.fa-map-marker-alt {
    align-self: center;
}