
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
}


@media screen and (min-width: map-get($breakpoints, mobile)) {
    body {
        margin-right: 96px;
        margin-left: 96px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

}

@media screen and (min-width: map-get($breakpoints, screen-md)) {
    body {
        margin-right: 208px;
        margin-left: 208px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: map-get($breakpoints, screen-lg)) {
    body {
        margin-right: 312px;
        margin-left: 312px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: map-get($breakpoints, screen-xl)) {
    body {
        margin-right: 408px;
        margin-left: 408px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.explorer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f0f0;
    h2, p {
        text-align: center;
    }
    h2 {
        margin-left: $margin-h2-explorer;
        margin-right: $margin-h2-explorer;
        margin-top: 50px;
    }
    p {
        margin-left: $margin-p-explorer;
        margin-right: $margin-p-explorer;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 200px;
    background-color: white;
    margin: 0;
    h2 {
        margin-left: 20px;;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    margin: 0;
    padding-bottom: 70px;
    h2 {
        margin-left: 20px;
    }
}

