@font-face {
    font-family: 'Shrikhand';
    src: url(../../public/fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../../public/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../../public/fonts/Roboto-Bold.ttf);
}

header {
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 4.3em;
    }
    
}

footer {
    .logo_footer {
        color: white;
        font-family: 'Shrikhand', sans-serif;
    }
    p {
        color: white;
        font-family: 'Roboto', sans-serif;
    }
}

h3, p {
    font-family: 'Roboto';
}

h2 {
    font-family: 'Roboto-Bold';
    font-size: $h2-font-size;
    font-weight: 1000;
}

.localisation {
    &__ville {
        font-size: 3em;
        font-weight: bold;
    }
}

.explorer {
    p {
        font-size: 3em;
    }
    &__button {
        font-family: 'Roboto-Bold';
    }
}

.fonctionnement {
    &__bubble {
        &__content {
            p {
                font-family: 'Roboto-Bold';
            }
        }
        .number {
        font-family: 'Roboto';
        font-size: 1em;
        }
    }
}

.restaurants {
    h2 {
        font-size: 4.5em;
    }
}

.menu {
    &__section {
        &__nom {
            font-size: 2.6em;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 4.4em;
        }
        .fa-heart {
            -webkit-text-stroke: 1px #000;
            -webkit-text-fill-color: transparent;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.soulignement {
    border-bottom: 8px solid $colour-tertiary;
    padding-bottom: 15px;
}

.new {
    font-family: 'Roboto';
}