.menu {
    margin-top: 700px;
    margin-bottom: 0;
    background-color: #e6e6e6;
    border-radius: 100px 100px 0 0;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    user-select: none;
    &__text {
        margin-top: 10px;
        &__fav {
            display: flex;
            margin-right: 100px;
            .fa-heart {
                position: absolute;
                align-self: center;
                cursor: pointer;
                &__empty {
                    -webkit-text-stroke: 3px #000;
                    -webkit-text-fill-color: transparent;
                    z-index: 4;
                }
                &__filler {
                    transform: scale(0);
                    background: -moz-linear-gradient(bottom, $colour-secondary 0%, $colour-primary 90%); 
                    background: -webkit-linear-gradient(bottom,$colour-secondary 0%, $colour-primary 90%); 
                    background: linear-gradient(to top,$colour-secondary 0%, $colour-primary 90%);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                   -webkit-text-fill-color:transparent;
                   z-index: 3;
                }
                &:hover + .fa-heart__filler {
                    animation-name: heart-fill;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &__section {
        &__liste {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &__shadow-holder {
                box-shadow: 1px 4px 8px 1px nth($light-shadow-colours, 1), 2px 6px 20px 2px nth($light-shadow-colours, 2);
                border-radius: 40px 40px 40px 40px;
                margin-bottom: 35px;
                margin-right: 20px;
                position: relative;
                top: 70px;
                min-height: 180px;
                max-height: 250px;
                opacity: 1;
                transform: translateY(-50px);
                animation-name: slide-up;
                animation-duration: 1000ms;
                animation-fill-mode: both;
                @for $i from 1 through 4 {
                    & + & {
                        &:nth-of-type(#{$i}) {
                            animation-delay: $i * 250ms;
                        }
                    }
                }
                &__plat {
                    display: flex;
                    position: relative;
                    background-color: #f3f3f3;
                    border-radius: 40px 40px 40px 40px;
                    overflow: hidden;
                    height: 100%;
                    width: 860px;
                    cursor: pointer;
                    z-index: 3;
                    &__nom {
                        padding-left: 30px;
                        padding-right: 30px;
                        width: 710px;
                        h3, p {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin: 0;
                        }
                        h3 {
                            margin-top: 30px;
                            margin-bottom: 10px;
                            font-size: 3em;
                        }
                        p {
                            font-size: 2.4em;
                            margin-bottom: 30px;
                        }
                    }
                    .animated {
                        display: flex;
                        position: absolute;
                        height: 100%;
                        right: -150px;
                        transition: transform 500ms ease-in-out;
                        z-index: 2;
                        &__prix {
                            font-weight: bold;
                            align-self: flex-end;
                            text-align: right;
                            margin: 0;
                            padding-right: 70px;
                            padding-bottom: 30px;
                            width: 40px;
                            font-size: 2.4em;
                        }
                        &__select {
                            display: flex;
                            justify-content: center;
                            background-color: $colour-tertiary;
                            width: 150px;
                            .fa-check-circle {
                                align-self: center;
                                color: white;
                                transition: transform 500ms ease-in-out;
                                transition-delay: 100ms;
                            }
                        }
                    }
                    &:hover .animated {
                        transform: translateX(-150px);
                        & .fa-check-circle {
                            transform: rotateZ(360deg);
                        }
                    }
                    &:hover &__nom {
                        animation-name: ellipsis;
                        animation-duration: 500ms;
                        animation-fill-mode: both;
                    }
                }
            }
        }
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

@keyframes ellipsis {
    0% {
        width: 710px;
    }
    25% {
        width: 672.5px;
    }
    50% {
        width: 635px;
    }
    75% {
        width: 597.5px;
    }
    100% {
        width: 560px;
    }
}

.bg_a_la_francaise {
    display: flex;
    background-image: url(../images/a_la_francaise.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 152px;
    background-size: 100%;
}

.bg_la_note_enchantee {
    display: flex;
    background-image: url(../images/la_note_enchantee.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% -103px;
    background-size: 100%;
}

.bg_la_palette_du_gout {
    display: flex;
    background-image: url(../images/la_palette_du_gout.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 150px;
    background-size: 109%;
}

.bg_le_delice_des_sens {
    display: flex;
    background-image: url(../images/le_delice_des_sens.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 152px;
    background-size: 100%;
}