.menu {
    margin-top: 380px;
    background-color: #f7f7f7;
    border-radius: 50px 50px 0 0;
    padding: 20px;
    &__section {
        &__plat {
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2), 0 3px 10px 0 rgba(39,39,39,0.19);
            display: flex;
            justify-content: space-between;

            padding: 15px;
            &__nom {
                h3, p {
                    margin: 0;
                }
                h3 {
                    margin-bottom: 10px;
                }
            }
            &__prix {
                font-weight: bold;
                align-self: flex-end;
                margin: 0;
            }
            &__select {
                display: flex;
                background-color: $colour-tertiary;
                .fa-check-circle {
                    justify-content: center;
                    align-self: center;
                    color: white;
                }
            }
        }
    }
}

.bg_a_la_francaise {
    background-image: url(../images/a_la_francaise.jpg);
    background-size: 110%;
    background-repeat: no-repeat;;
    background-position: 50% 75px;
}