$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$bg-colour-localisation: rgb(233, 233, 233);
$bg-colour-fonctionnement-bubble-1: rgb(240, 240, 240);
$margin-h2-explorer: 20%;
$margin-p-explorer: 5%;
$h2-font-size: 2em;
$breakpoints: (mobile:655px, tablet:768px, screen-md:992px, screen-lg:1200px, screen-xl:1450px); /*Is read "Beyond this many px, screen is out of this format" Ex: "Beyond 576px, screen is out of mobile"*/
$black-shadow-colours: rgb(170, 170, 170, 0.5) rgb(180, 180, 180, 0.5);
$dark-shadow-colours: rgba(210, 210, 210, 0.5) rgb(220, 220, 220, 0.5);
$light-shadow-colours:  rgb(220, 220, 220, 0.5)  rgba(230, 230, 230, 0.5);